.ant-select-dropdown{
    z-index: 1001 !important;
}

.sf-input{
    width: 150px;
    display: inline-block;
}
.fa-external-link{
    cursor: pointer;
    font-size: 16px;
    color: #9e9e9e;
    vertical-align: super;
    margin-left: 5px;
}
