.selection-container {
  background: #167fc7;
  padding: 15px;
  min-height: 800px;
}
.top5 {
  margin-top: 5% !important;
}
.width100 {
  width: 100% !important;
}
.block {
  display: block !important;
}
