.colHeader {
  font-size: 18px;
  font-weight: bold;
  color: #6d6c6c;
  min-width: 25% !important;
  padding: 5px;
}
.subText {
  //   display: flex;
  font-size: 12px;
  margin-left: 8px;
}
.eventHeader {
  max-height: 40px !important;
}
