.apps {
    .app-list {
        background: #FFF;
        border-radius: 4px;
        border: 1px solid #EBEBEB;
        min-height: 300px;

        .info {
            padding: 15px;
        }

        .app {
            background-color: #f3f9ff;
            padding: 25px 0 25px 25px;
            border-radius: 4px;
            height: 190px;
            margin: 14px 10px;

            .details-section {
                color: #a9a9a9;
                font-size: 12px;
                .title {
                    color: #000;
                    font-size: 18px;
                    .version {
                        color: #a9a9a9;
                        font-size: 12px;
                        margin-left: 3px;
                    }
                }
                .desc {
                    font-size: 14px;
                    margin: 10px 0px;
                    color: #9b9b9b;
                    font-weight: 300;
                    height: 90px;
                    overflow-y: auto;
                    word-wrap: break-word;
                }
            }

            .actions {
                z-index: 999;
                right: 20px;
                top: 20px;

                .fa-ellipsis-v {
                    padding: 2px 5px;
                }
                
            }
            
            .dropdown-menu {
                right: 15px !important;
                top: 45px !important;
                padding: 0px;
            }

            &:hover {
                background-color: #e6f3ff;
                .actions {
                    display: block;
                }
            }
        }

    }
    .app-content-icon {
        height: 60px;
        width: 60px;
        background-size: 50px;
        background-repeat: no-repeat;
        margin-top: 15px;
        display: inline-block;
    }
}
