.apps .app-list {
  background: #FFF;
  border-radius: 4px;
  border: 1px solid #EBEBEB;
  min-height: 300px; }
  .apps .app-list .info {
    padding: 15px; }
  .apps .app-list .app {
    background-color: #f3f9ff;
    padding: 25px 0 25px 25px;
    border-radius: 4px;
    height: 190px;
    margin: 14px 10px; }
    .apps .app-list .app .details-section {
      color: #a9a9a9;
      font-size: 12px; }
      .apps .app-list .app .details-section .title {
        color: #000;
        font-size: 18px; }
        .apps .app-list .app .details-section .title .version {
          color: #a9a9a9;
          font-size: 12px;
          margin-left: 3px; }
      .apps .app-list .app .details-section .desc {
        font-size: 14px;
        margin: 10px 0px;
        color: #9b9b9b;
        font-weight: 300;
        height: 90px;
        overflow-y: auto;
        word-wrap: break-word; }
    .apps .app-list .app .actions {
      z-index: 999;
      right: 20px;
      top: 20px; }
      .apps .app-list .app .actions .fa-ellipsis-v {
        padding: 2px 5px; }
    .apps .app-list .app .dropdown-menu {
      right: 15px !important;
      top: 45px !important;
      padding: 0px; }
    .apps .app-list .app:hover {
      background-color: #e6f3ff; }
      .apps .app-list .app:hover .actions {
        display: block; }

.apps .app-content-icon {
  height: 60px;
  width: 60px;
  background-size: 50px;
  background-repeat: no-repeat;
  margin-top: 15px;
  display: inline-block; }
