.inline {
  display: -webkit-inline-box; }

@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px; }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px; }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px; }
  75% {
    background-color: green;
    left: 0px;
    top: 200px; } }

.loading {
  background-image: url("../assets/images/spinner.gif") no-repeat;
  background-color: #4288a4;
  color: white;
  text-align: center; }

.alertBox {
  margin-left: 10px; }

.alertBox {
  display: block;
  opacity: 1;
  margin: 0 auto 20px;
  max-width: 420px;
  /* display: none; */
  word-wrap: break-word;
  word-break: break-word;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: opacity .15s linear;
  z-index: 2056;
  position: fixed;
  top: 12px;
  left: 70%;
  width: 25%;
  display: -webkit-inline-box; }

.alert-info {
  background-color: #3697d3;
  color: #153e7b; }

.alert-danger {
  background-color: #EBCDCD;
  color: #CB6042; }

.alert-success {
  background-color: #32ae5b;
  color: #1b6135; }

.closeAlert {
  cursor: pointer; }

input[type=radio] {
  width: 20px; }

.cursor-pointer {
  cursor: pointer; }

.auto-height {
  height: auto !important; }

.padding5 {
  padding: 5px !important; }

.pad-s-5 {
  padding-left: 5px !important;
  padding-right: 5px !important; }

.pad-s-10 {
  padding-left: 10px !important;
  padding-right: 10px !important; }

.pad-s-15 {
  padding-left: 15px !important;
  padding-right: 15px !important; }

.pad-v-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

.pad-v-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.pad-v-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important; }

.no-padding {
  padding: 0px !important; }

.no-margin {
  margin: 0px !important; }

.no-border {
  border: 0px !important; }

.bordered {
  border: 1px solid #EBEBEB !important; }

.centered {
  margin: auto;
  float: none; }

.font-16 {
  font-size: 16px !important; }

.font-14 {
  font-size: 14px !important; }

.separator {
  border: 1px dashed #EBEBEB; }

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

textarea:focus, input:focus, .form-control:focus {
  outline: none !important;
  box-shadow: none !important; }

.dropdown-item {
  cursor: pointer; }

.dropdown-menu {
  position: absolute !important; }
  .dropdown-menu.open {
    display: block !important; }

.dropdown-hover-menu {
  padding: 5px; }
  .dropdown-hover-menu:hover {
    background-color: #0082d6;
    color: #FFFFFF; }
    .dropdown-hover-menu:hover > ul.sub-menu {
      display: block; }
      .dropdown-hover-menu:hover > ul.sub-menu li {
        padding: 0px; }
    .dropdown-hover-menu:hover > ul.dropdown-menu {
      display: block; }

.add-action-link {
  margin: 3px 15px;
  padding: 0px 3px;
  cursor: pointer !important;
  text-align: center;
  height: 30px; }
  .add-action-link span.plus {
    font-size: 20px;
    vertical-align: middle; }
  .add-action-link span.label {
    padding: 3px 5px;
    font-size: 14px;
    color: #4c9ade; }
  .add-action-link:hover {
    background: #FFF;
    border: 1px solid #a9ddff;
    border-radius: 20px; }

.fa {
  padding: 0 2px; }

.panel {
  font-size: 14px;
  background: #FFF; }
  .panel .panel-heading {
    padding: 10px;
    font-size: 16px;
    background: #fff;
    border: 1px solid #EBEBEB;
    border-bottom: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px; }
  .panel .panel-body {
    height: 60vh;
    overflow: auto;
    border: 1px solid #EBEBEB;
    padding: 15px; }
  .panel .panel-footer {
    height: 20vh; }

.form-group .form-control {
  border: 1px solid #acdaf9;
  height: 34px;
  padding: 6px 12px;
  display: block;
  font-size: 14px; }

.form-group textarea {
  height: auto !important; }

.btn {
  border: 0px !important;
  border-radius: 3px !important;
  padding: 6px 12px !important;
  font-size: 14px !important; }
  .btn.full-width {
    width: 100%; }
  .btn.btn-primary {
    background-color: #2d9ae2; }
  .btn.btn-basic {
    background-color: #d9dddf; }

.table {
  font-size: 14px;
  transition: all 400ms ease-in; }
  .table thead tr {
    height: 45px !important; }
    .table thead tr th {
      font-weight: 500;
      background: #FFF;
      border: 0px;
      padding: 5px;
      font-size: 13px;
      min-height: 42px;
      white-space: initial; }
  .table tbody tr {
    height: auto; }
    .table tbody tr td {
      padding: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 300; }
    .table tbody tr:nth-child(even) {
      background: #FAFDFF; }
    .table tbody tr:nth-child(odd) {
      background: #F1F8FF; }
    .table tbody tr:hover {
      background: #eff7ff; }
    .table tbody tr.even {
      background: #FAFDFF !important; }
    .table tbody tr.odd {
      background: #F1F8FF !important; }
  .table > tfoot > tr > td {
    background: #FFF; }
  .table .row th, .table .row td {
    text-align: center; }
    .table .row th:first-child, .table .row td:first-child {
      text-align: left; }
    .table .row th:nth-last-child(1), .table .row td:nth-last-child(1) {
      text-align: right; }
  .table:nth-child(even) tbody tr {
    background: #FAFDFF; }
  .table:nth-child(odd) tbody tr {
    background: #F1F8FF; }
  .table:hover > tbody > tr {
    background: #eff7ff; }

.loadBalancerBox {
  border: 1px #7b8b98;
  background: #a6c2da;
  padding: 5px;
  width: 75px;
  border-radius: 5px;
  margin-left: 4px;
  color: white;
  text-align: center;
  box-shadow: 2px 2px 0px 0px #90abc1;
  float: right;
  margin-right: 4px; }

.show {
  visibility: visible !important; }

.hide {
  visibility: hidden !important; }

.sliderBackdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2025;
  left: 0;
  top: 0;
  display: block;
  visibility: hidden;
  opacity: 0;
  background: #000;
  transition: opacity 500ms ease-in-out; }
  .sliderBackdrop.fadeIn {
    opacity: 0.2; }
  .sliderBackdrop.fadeOut {
    opacity: 0; }

.sliderForm {
  float: right;
  z-index: 2056;
  position: fixed;
  right: 0;
  top: 0;
  background: #fbfbfb;
  width: 50%;
  height: 100vh;
  border: 1px solid #EBEBEB;
  overflow-y: auto;
  transform: translateX(105%);
  transition: transform 300ms ease-in-out; }
  .sliderForm.slideIn {
    transform: translateX(0%); }
  .sliderForm.slideOut {
    transform: translateX(105%); }

.sliderHeader {
  padding: 10px 15px;
  font-size: 20px;
  margin-top: 7px;
  margin-bottom: 0px;
  cursor: default; }
  .sliderHeader .fa-chevron-right {
    font-size: 12px;
    vertical-align: middle; }
  .sliderHeader .close-btn {
    cursor: pointer;
    font-size: 18px;
    color: #929292; }

.sliderBody {
  height: 80vh;
  overflow: auto; }

.formContent {
  max-height: 600px !important;
  min-height: 600px;
  overflow: auto;
  background: white;
  border-radius: 4px;
  margin-top: 5px; }

.sliderFooter {
  height: 10vh;
  padding: 10px 0; }

.pageIndex {
  padding: 2px;
  font-weight: bold;
  color: #858b90;
  background: #efeae4;
  border: 1px #736f6b;
  border-radius: 3px;
  box-shadow: 1px 2px;
  margin-left: 3px;
  cursor: pointer; }

.pageIndexSelected {
  padding: 2px;
  font-weight: bold;
  color: #d0d8df;
  background: #3e5065;
  border: 1px #e8e4e0;
  border-radius: 3px;
  box-shadow: 1px 2px;
  margin-left: 3px;
  cursor: pointer; }

.infoHeader {
  margin: 10px 0 30px 0; }
  .infoHeader span {
    font-size: 24px;
    float: left; }

.searchBox {
  float: right;
  border: 1px solid #d8d8d8;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 14px; }

.dropdown-menu {
  top: unset !important;
  right: 0px !important;
  left: unset !important;
  margin-top: 35px;
  font-size: 14px;
  cursor: pointer;
  padding: 2px;
  border: none;
  box-shadow: 3px 3px rgba(102, 102, 102, 0.1); }
  .dropdown-menu li {
    padding: 5px; }
    .dropdown-menu li:hover {
      background-color: #d1e7fd;
      border-radius: 2px;
      border: solid 1px #afd7ff; }

.sectionContainer {
  background: #FAFAFA;
  padding: 5px;
  min-height: 75vh; }

.collapsible {
  overflow-y: hidden;
  max-height: 500px;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease-in-out; }
  .collapsible.slideUp {
    max-height: 0px; }
  .collapsible.slideDown {
    max-height: 500px; }
  .collapsible .table {
    width: 99.8%; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #e4e4e4 !important; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #e4e4e4 !important; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #e4e4e4 !important; }

.pageIndexer {
  float: right;
  margin-right: 30px; }

@media (max-width: 500px) {
  .sliderForm {
    width: 70%; } }

.appLauncher {
  text-align: right;
  color: #337ab7; }

tr:hover > td > .actions {
  display: block; }

.actions {
  display: none;
  float: right;
  color: #5d5d5d;
  position: absolute;
  right: 25px; }
  .actions .fa {
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;
    background-size: 18px;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 25px !important;
    height: 25px !important;
    vertical-align: top;
    color: #969696; }
    .actions .fa:hover {
      color: #000;
      background-color: #FFF;
      border: 1px solid #EBEBEB;
      border-radius: 5px; }
  .actions .fa-ellipsis-v {
    width: 14px;
    text-align: right;
    float: right;
    margin-top: 2px;
    padding: 2px; }
  .actions .btn-group {
    vertical-align: top; }

.a10-icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-size: 24px;
  background-repeat: no-repeat;
  position: relative;
  background-position: 0;
  margin: 0px 7px -5px 5px; }

.edit-icon {
  background-image: url(../assets/images/svg/icon-edit.svg); }

.view-icon {
  background-image: url(../assets/images/svg/actions/view.svg); }

.delete-icon {
  background-image: url(../assets/images/svg/actions/delete.svg); }

.thunder-icon {
  background-image: url(../assets/images/svg/icon-thunder.svg); }

.lightning-icon {
  background-image: url(../assets/images/svg/icon-lightning.svg); }

.cgn-icon {
  background-image: url(../assets/images/svg/icon-cgn.svg); }

.gifi-icon {
  background-image: url(../assets/images/svg/icon-firewall.svg); }

.ssli-icon {
  background-image: url(../assets/images/svg/icon-ssli.svg); }
