.clusters-list {
    min-height: 390px;
    table {
        tbody {
            tr {
                &.active-row {
                    background: #fff;
                    > td {
                        border-top: 0px;
                        &:nth-child(1) {
                            border-left: 4px solid #c1e9ff;
                        }
                    }
                }
            }
        }
    }

    .fa {
        color: #afbbc2;
        width: 15px;
        text-align: center;
        cursor: pointer;
    }
}
